<template>
  <div>
    <canvas id="livereviewchart"></canvas>
  </div>
</template>

<script>
import { shallowRef } from "vue";

export default {
  name: "LiveReviewLine",
  sockets: {
    receiveData: function(value) {
      this.labels.push(new Date(value.date).toLocaleString())
      if (this.labels.length > 20) this.labels = this.labels.slice(-20)

      this.chart.data.datasets[0].data[this.chart.data.datasets[0].data.length] = parseFloat(value.value)
      if (this.chart.data.datasets[0].data.length > 20) this.chart.data.datasets[0].data = this.chart.data.datasets[0].data.slice(-20)

      this.chart.update()
    }
  },
  data() {
    return {
      labels: [],
      chart: null
    }
  },
  methods: {
    getGradient(ctx, chartArea) {
      let height, width, gradient;

      const chartWidth = chartArea.right - chartArea.left;
      const chartHeight = chartArea.bottom - chartArea.top;
      if (!gradient || width !== chartWidth || height !== chartHeight) {
        // Create the gradient because this is either the first render
        // or the size of the chart has changed
        width = chartWidth;
        height = chartHeight;
        gradient = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
        gradient.addColorStop(0, 'rgb(54, 162, 235)');
        gradient.addColorStop(0.5, 'rgb(255, 205, 86)');
        gradient.addColorStop(1, 'rgb(255, 99, 132)');
      }

      return gradient;
    }
  },
  mounted() {
    const that = this
    this.chart = shallowRef(new this.$ChartJS(document.getElementById("livereviewchart").getContext("2d"), {
      type: 'line',
      data: {
        labels: that.labels,
        datasets: [
          {
            label: "Valeur",
            data: [],
            borderColor: function(context) {
              const chart = context.chart;
              const {ctx, chartArea} = chart;

              if (!chartArea) {
                // This case happens on initial chart load
                return;
              }
              return that.getGradient(ctx, chartArea);
            },
            tension: 0.4
          },
        ]
      },
      options: {
        animation: {
          duration: 0
        },
        elements: {
          point:{
            radius: 0
          }
        },
        responsive: true,
        plugins: {
          title: {
            display: false,
            text: ""
          },
          legend: {
            display: false
          }
        },
        interaction: {
          intersect: false
        },
        scales: {
          x: {
            display: false,
            title: {
              display: true
            },
            grid: {
              display: false
            }
          },
          y: {
            display: true,
            title: {
              display: false
            },
            suggestedMin: 0,
            suggestedMax: 3000,
            grid: {
              display: false
            },
            ticks: {
              display: true
            }
          }
        }
      }
    }))
  }
}
</script>

<style scoped>

</style>
