<template>
  <div>
    <canvas id="realtimechart"></canvas>
  </div>
</template>

<script>
import { shallowRef } from "vue";

export default {
  name: "RealTimeBar",
  sockets: {
    receiveData: function(value) {

      this.chart.data.datasets[0].data[0] = parseFloat(value.value)
      this.chart.update()
    }
  },
  data() {
    return {
      labels: "",
      chart: null
    }
  },
  methods: {
    getGradient(ctx, chartArea) {
      let height, width, gradient;

      const chartWidth = chartArea.right - chartArea.left;
      const chartHeight = chartArea.bottom - chartArea.top;
      if (!gradient || width !== chartWidth || height !== chartHeight) {
        // Create the gradient because this is either the first render
        // or the size of the chart has changed
        width = chartWidth;
        height = chartHeight;
        gradient = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
        gradient.addColorStop(0, 'rgb(54, 162, 235)');
        gradient.addColorStop(0.5, 'rgb(255, 205, 86)');
        gradient.addColorStop(1, 'rgb(255, 99, 132)');
      }

      return gradient;
    }
  },
  mounted() {
    const that = this
    this.chart = shallowRef(new this.$ChartJS(document.getElementById("realtimechart").getContext("2d"), {
      type: 'bar',
      data: {
        labels: [
          "Niveau sonore ambiant",
        ],
        datasets: [{
          label: 'Niveau',
          data: [
            80
          ],
          backgroundColor: function(context) {
            const chart = context.chart;
            const {ctx, chartArea} = chart;

            if (!chartArea) {
              // This case happens on initial chart load
              return;
            }
            return that.getGradient(ctx, chartArea);
          },
          borderColor: function(context) {
            const chart = context.chart;
            const {ctx, chartArea} = chart;

            if (!chartArea) {
              // This case happens on initial chart load
              return;
            }
            return that.getGradient(ctx, chartArea);
          },
          borderWidth: 1
        }]
      },
      options: {
        indexAxis: "x",
        scales: {
          y: {
            beginAtZero: true,
            grid: {
              display: false
            },
            min: 0,
            max: 3000,
          },
          x: {
            grid: {
              display: false
            },
            ticks: {
              display: false
            }
          }
        },
        elements: {
          bar: {
            borderWidth: 2
          }
        },
        responsive: true,
        plugins: {
          legend: {
            position: "right",
            display: false
          },
          title: {
            display: false,
            text: "Frameworks"
          }
        }
      }
    }))
  }
}
</script>

<style scoped>

</style>
