<template>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 100%; height: 100%;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Ambiant Aware</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <router-link to="/" class="nav-link text-white" :class="{ active : $route.fullPath === '/' }">
          Temps réel
        </router-link>
      </li>
      <li class="nav-item">
        <router-link to="/statistics" class="nav-link text-white" :class="{ active : $route.fullPath === '/statistics' }">
          Statistiques
        </router-link>
      </li>
      <li class="nav-item">
        <router-link to="/params" class="nav-link text-white" :class="{ active : $route.fullPath === '/params' }">
          Paramètres
        </router-link>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{ username }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
<!--        <li>-->
<!--          <a class="dropdown-item" href="#">TEST</a>-->
<!--        </li>-->
<!--        <li><a class="dropdown-item" href="#">Settings</a></li>-->
<!--        <li><a class="dropdown-item" href="#">Profile</a></li>-->
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item" href="#" @click="$store.state.token = null; $router.push('/auth')">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
const JWT = require("jsonwebtoken")

export default {
  name: "Sidebar",
  data() {
    return {
      username: null
    }
  },
  mounted() {
    if (this.$store.state.token) {
      try {
        this.username = JWT.verify(this.$store.state.token, 'TOP_SECRET').user.login
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>

<style scoped>

</style>
