<template>
  <div class="row h-100">
    <div class="col-lg-3 m-0">
      <Sidebar></Sidebar>
    </div>
    <div class="col-lg-9 m-0">
      <div class="container mt-3">
        <div class="row">
          <div class="col-lg-12 mb-1">
            <div class="card card-body d-flex justify-content-center align-content-center align-items-center w-auto">
              <h3 class="h3 text-black-50">Niveau sonore actuel</h3>
              <h1 class="value-btn" :style="{ 'border-color' : color }">{{ currentValue }}</h1>
            </div>
          </div>
          <div class="col-lg-6 mb-1">
            <div class="card card-body">
              <h3 class="h3 text-black-50">Valeur actuelle</h3>
              <RealTimeBar></RealTimeBar>
            </div>
          </div>
          <div class="col-lg-6 mb-1">
            <div class="card card-body">
              <h3 class="h3 text-black-50">Temps réel</h3>
              <LiveReviewLine></LiveReviewLine>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/Navigation/Navbar";
import Sidebar from "@/components/Navigation/Sidebar";
import LiveReviewLine from "@/components/Charts/LiveReviewLine";
import RealTimeBar from "@/components/Charts/RealTimeBar";
export default {
  name: 'Home',
  sockets: {
    receiveData: function(value) {
      this.currentValue = value.value
    }
  },
  data() {
    return {
      currentValue: 0,
      scales: [200, 350, 600, 750, 900, 1200, 1500, 2000, 2500, 3000],
      colors: [
        "#37FA4C",
        "#5EFF37",
        "#83FF37",
        "#B3FF37",
        "#FFFF37",
        "#FFF037",
        "#FFD537",
        "#FFAD37",
        "#FF6E37",
        "#572128"
      ]
    }
  },
  components: {
    RealTimeBar,
    LiveReviewLine,
    Sidebar,
    Navbar
  },
  computed: {
    color: function() {
      for(let i=0; i<10; i++) {
        if (this.currentValue <= this.scales[i]) {
          return this.colors[i]
        }
      }
    }
  },
  mounted() {
    if (!this.$store.state.token) this.$router.push("/auth")
  }
};
</script>

<style scoped>
.value-btn {
  border: 5px solid red;
  padding: 1rem;
  border-radius: 100%;
  height: 175px;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
