<template>
  <div class="row h-100">
    <div class="col-lg-3 m-0">
      <Sidebar></Sidebar>
    </div>
    <div class="col-lg-9 m-0">
      <div class="container mt-3">
        <h1 class="h1 text-black-50">Paramètre de l'Arduino</h1>
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Niveau d'avertissement</label>
              <input type="number" class="form-control" v-model="params.level">
            </div>
            <button type="submit" class="btn btn-primary" @click="updateParams">Valider</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require("axios");

import Navbar from "@/components/Navigation/Navbar";
import Sidebar from "@/components/Navigation/Sidebar";
export default {
  name: 'Params',
  sockets: {

  },
  data() {
    return {
      params: {
        level: 3000
      }
    }
  },
  components: {
    Sidebar,
    Navbar
  },
  methods: {
    updateParams() {
      axios({
        method: "POST",
        url: this.$API.URL + "/params",
        data: this.params
      })
    }
  },
  mounted() {
    if (!this.$store.state.token) this.$router.push("/auth")

    const that = this

    axios({
      method: "GET",
      url: this.$API.URL + "/params"
    }).then((response) => {
      console.log(response)
      that.params = response.data
    })
  }
};
</script>

<style scoped>
.value-btn {
  border: 5px solid red;
  padding: 1rem;
  border-radius: 100%;
  height: 175px;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
