<template>
  <div class="h-100 w-100 d-flex justify-content-center align-items-center align-content-center m-0">
    <div class="card w-50">
      <div class="card-body">
        <h1 class="h1 text-center text-black">Inscrivez-vous</h1>

        <div class="form-floating mb-1 mt-3">
          <input type="text" class="form-control" name="Identifiant" v-model="auth.login">
          <label>Identifiant</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="Mot de passe" v-model="auth.password">
          <label>Mot de passe</label>
        </div>

        <div class="d-flex flex-row-reverse">
          <button type="submit" class="btn btn-primary" @click="register">Inscription</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require("axios");

export default {
  name: 'Register',
  data() {
    return {
      auth: {
        login: "",
        password: ""
      }
    }
  },
  methods: {
    register() {
      const that = this

      axios({
        method: "POST",
        url: that.$API.URL + "/auth/register",
        data: {
          login: that.auth.login,
          password: that.auth.password
        }
      }).then((response) => {
        if (response.data) {
          that.$router.push("/auth")
        }
      })
    }
  }
};
</script>

<style scoped>
</style>
