<template>
  <div class="row h-100">
    <div class="col-lg-3 m-0">
      <Sidebar></Sidebar>
    </div>
    <div class="col-lg-9 m-0">
      <div class="container mt-3">
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-body">
              <div class="row justify-content-center d-flex align-items-center align-content-center">
                Date de début :&nbsp;
                <input type="datetime-local" class="form-control w-auto" v-model="startDate">
                &nbsp;

                Date de fin :&nbsp;
                <input type="datetime-local" class="form-control w-auto" v-model="endDate">
                &nbsp;

                <button class="btn btn-success w-auto" @click="loadBetweenDate">
                  Rechercher
                </button>
              </div>
              <canvas id="previousdurationchart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from "@/components/Navigation/Sidebar";
import {shallowRef} from "vue";

const Axios = require("axios")

export default {
  name: "Statistics",
  components: {Sidebar},
  data() {
    return {
      startDate: new Date(),
      endDate: null,
      chart: null,
      labels: [],
      dataset: [],
      scales: [200, 350, 600, 750, 900, 1200, 1500, 2000, 2500, 3000],
      colors: [
        "#37FA4C",
        "#5EFF37",
        "#83FF37",
        "#B3FF37",
        "#FFFF37",
        "#FFF037",
        "#FFD537",
        "#FFAD37",
        "#FF6E37",
        "#572128"
      ]
    }
  },
  methods: {
    getGradient(ctx, chartArea) {
      let height, width, gradient;

      const chartWidth = chartArea.right - chartArea.left;
      const chartHeight = chartArea.bottom - chartArea.top;
      if (!gradient || width !== chartWidth || height !== chartHeight) {
        // Create the gradient because this is either the first render
        // or the size of the chart has changed
        width = chartWidth;
        height = chartHeight;
        gradient = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
        gradient.addColorStop(0, 'rgb(54, 162, 235)');
        gradient.addColorStop(0.5, 'rgb(255, 205, 86)');
        gradient.addColorStop(1, 'rgb(255, 99, 132)');
      }

      return gradient;
    },
    loadBetweenDate() {
      const that = this

      Axios({
        method: "POST",
        url: this.$API.URL + "/level/getBetweenDate",
        data: {
          startDate: that.startDate,
          endDate: that.endDate
        }
      }).then((response) => {
        this.chart.data.labels = response.data.map(value => new Date(value.datetime).toLocaleString())
        this.chart.data.datasets[0].data = response.data.map(value => value.value)
        that.chart.update()
      })
    },
  },
  mounted() {
    if (!this.$store.state.token) this.$router.push("/auth")

    const that = this
    this.chart = shallowRef(new this.$ChartJS(document.getElementById("previousdurationchart").getContext("2d"), {
      type: 'line',
      data: {
        labels: [],
        datasets: [
          {
            label: "Valeur",
            data: [],
            borderColor: function(context) {
              const chart = context.chart;
              const {ctx, chartArea} = chart;

              if (!chartArea) {
                // This case happens on initial chart load
                return;
              }
              return that.getGradient(ctx, chartArea);
            },
            tension: 0.4
          },
        ]
      },
      options: {
        elements: {
          point:{
            radius: 0
          }
        },
        responsive: true,
        plugins: {
          title: {
            display: false,
            text: ""
          },
          legend: {
            display: false
          }
        },
        interaction: {
          intersect: false
        },
        scales: {
          x: {
            display: false,
            title: {
              display: true
            },
            grid: {
              display: false
            }
          },
          y: {
            display: true,
            title: {
              display: false
            },
            suggestedMin: 0,
            suggestedMax: 3000,
            grid: {
              display: false,
            },
            ticks: {
              display: true
            }
          }
        }
      }
    }))
  }
}
</script>

<style scoped>

</style>
