<template>
  <router-view/>
</template>

<style src="./assets/css/bootstrap.min.css"/>

<style>
html, body, #app {
  height: 100%;
  width: 100%;
}
</style>

<script>
export default {
  components: {

  }
}
</script>
